<h1 class="mt-3">My favorite locations</h1>

<% if @favorites.present? %>
  <div class="cards"></div>
  <% @favorites.each do |favorite| %>
    <%= render '/pages/marker-card', marker: favorite.marker, path: marker_favorites_path(favorite.marker) %>
    <% if favorite.note.present? %>
      <h3>Personnal notes: </h3>
      <p><%= marker.favorite.note %></p>
    <% end %>
  <% end %>
<% else %>
  <h3 class="mt-5">No favorites yet.</h3>
  <p class="mt-3 mb-1">Go explore the map and find some new locations to add!</p>
  <%= link_to 'Search', search_path, class: "mt-1" %>
<% end %>
