.hero-banner {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(asset_path('home.jpg'));
  background-position: center;
  background-size: 100% 120%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title h1 {
  color: $NS-orange;
  font-size: 63px;
  padding-bottom: 35px;
}

.hero-title p {
  color: white;
  font-size: 24px;
  opacity: 0.8;
}

.home-login {
  position: absolute;
  top: 8px;
  right: 10.2%;
}

.home-btn {
  margin-bottom: 50px;
  text-decoration: none;
  font-family: $body-font;
  color: $NS-orange;
  font-weight: bolder;

  &:hover {
    color: $NS-offwhite;
  }
}

.hero-container {
  height: 500px;
}

.avatar-btn {
  margin-bottom: 50px;
}
