.hero-banner {
  background-image: url(asset_path('homepage.jpg'));
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title h1 {
  color: $NS-orange;
  font-size: 63px;
  padding-bottom: 40px;
}

.hero-title p {
  color: white;
  font-size: 20px;
}
