.hero-banner {
  background-image: url(asset_path('homepage.jpg'));
  background-size: cover;
  height: 100vh;
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.hero-title {
  padding: 100px;
  color: $orange;
}

.search-bar {
  padding: 400px;

}
