<div data-controller="new-marker-modal">
  <p><%= marker.title %></p>
  <% if marker.description %>
    <%= link_to 'Show more', result_path(coordinates: [marker.longitude, marker.latitude]) %>
  <% else %>
    <div class="d-flex flex-column">
      <%= link_to 'Show more', result_path(coordinates: [marker.longitude, marker.latitude]) %>
      <%= link_to 'Add this marker', "#", id: "add-marker", data: { turbolinks: false, new_marker_target: "btn" } %>
    </div>
  <% end %>
</div>
