<div id="marker-cards" class="cards">
  <h3>This is a card</h3>
  <div class="markers d-flex flex-column">
    <% markers&.each do |marker| %>
      <div class="card"><%= link_to marker.title, search_path %></div>
    <% end %>
  </div>
</div>

