<div class="review-container">
  <div class="review-username d-flex align-item-center">
    <img class= "avatar" src="https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png" alt="#">
    <h2><%= review.user.username %></h2>
  </div>
  <div class="review-content">
    <h3><%= review.date %></h3>
    <p><%= review.content %></p>
    <p><%= review.rating %></p>
    <div class="review-images-container d-flex">
      <img class= "review-image" src="https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg" alt="">
      <img class= "review-image" src="https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg" alt="">
      <img class= "review-image" src="https://images.pexels.com/photos/572897/pexels-photo-572897.jpeg" alt="">
    </div>
  </div>
</div>
