<div class="cards d-flex flex-column ">
  <div class="card mb-4 p-3 box-shadow">
    <div class="card-body">
      <h3><%= review.date %></h3>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
    </div>
  </div>
</div>
