<h2>Review card</h2>
<div class="cards d-flex flex-column ">
  <div class="card mb-4 p-3 box-shadow">
    <div class="card-body">
      <h3>May 4th 2022</h3>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
    </div>
  </div>
</div>
