<h2>Review card</h2>
<div class="cards d-flex flex-column ">
  <div class="card mb-4 box-shadow">
    <div class="card-body">
      <h3>May 4th 2022</h3>
      <p><%= review.content %></p>
      <p><%= review.rating %></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam tempora nisi iusto veniam, aperiam necessitatibus quis error voluptas nulla fuga reprehenderit natus provident doloremque architecto ullam asperiores dignissimos modi obcaecati.</p>
    </div>
  </div>
</div>
