<h1>result page</h1>

<%= render 'overview' %>

<%= render 'prediction-card' %>

<div class="d-flex">
  <div class="reviews flex-grow-1">
    <%= render 'review-card' %>
  </div>
  <div class="map-container">
    <%= render 'map', map_markers: @map_markers %>
  </div>
</div>
