<h2>Search page</h2>

<%= render 'overview' %>


<div class="d-flex">
  <div class="cards flex-grow-1">
    <%= render 'marker-card' %>
  </div>
  <div class="map">
    <%= render 'map' %>
  </div>
</div>
