<h2>Search page</h2>

<%= render 'overview', today: @meteo_prediction&.first %>

<div class="d-flex">
  <div class="cards flex-grow-1">

  <%= render 'marker-card', markers: @markers %>
  </div>
  <div class="map-container">
    <%=
      render 'map',
      search_path: search_path,
      custom_marker_path: custom_marker_path,
      map_boundaries: @map_boundaries,
      key: ENV['MAPBOX_API_KEY'] %>
  </div>
</div>
