<div id="overview" class="my-5">
  <% if @meteo_prediction.present? %>
    <%= render 'overview', day: @meteo_prediction.first, marker: @marker, place_name: @place_name, bortle: @bortle %>
  <% end %>
</div>

<div class="d-flex justify-content-between">

  <div class="cards cards-container">

    <div id="marker-cards" class="cards">
      <% @markers&.each do |marker| %>
        <%= render 'marker-card', marker: marker, path: marker_favorites_path(marker) %>
      <% end %>
    </div>
  </div>

  <div class="map-container">
    <%=
      render 'map',
      search_path: search_path,
      marker_info_path: marker_info_path,
      map_boundaries: @map_boundaries,
      key: ENV['MAPBOX_API_KEY'] %>
  </div>
</div>
