<h2>Search page</h2>

<%= render 'overview' %>


<div class="d-flex">
  <div class="cards flex-grow-1">
    <%= render 'marker-card', markers: @markers %>
  </div>
  <div class="map-container">
    <%= render 'map', center: @center, map_boundaries: @map_boundaries, map_markers: @map_markers, key: ENV['MAPBOX_API_KEY'] %>
  </div>
</div>
