<% @nodetails %>

<h2>Search page</h2>

<%= render 'overview', today: @meteo_prediction&.first %>

<div class="d-flex">

  <div class="cards flex-grow-1">
    <div id="marker-cards" class="cards">
      <% @markers&.each do |marker| %>
        <%= render 'marker-card', marker: marker %>
      <% end %>
    </div>
  </div>

  <div class="map-container">
    <%=
      render 'map',
      search_path: search_path,
      custom_marker_path: custom_marker_path,
      map_boundaries: @map_boundaries,
      key: ENV['MAPBOX_API_KEY'] %>
  </div>
</div>
