.map-container {
  width: 450px;
  height: 600px;

  .map {
    width: 100%;
    height: 100%;
    border-radius: 20px;

    .mapboxgl-control-container {
      display: none;
    }
  }

  .search-marker {
    background: url("search-marker.svg");
    background-size: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .pin-marker {
    background: url("pin-marker.svg");
    background-size: cover;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}
