.cards-container {
  margin-right: 20px;
}
.marker-container {
  flex-grow: 2;
  height: auto;
  width: 100%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin-bottom: 10px;
    & a {
      color: $NS-darkblue;
      font-size: 24px;
      margin-top: 10px;
      text-decoration: none;
      border-bottom: 2px solid $NS-orange;
    }

    & h3 {
      font-size: 14px;
      font-weight: 400;

    }

    & p {
      font-size: 12px;
    }

    & h2, h3, p {
    font-family: $body-font;
    }
}

.marker-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.marker-card {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.marker-img {
  width: auto;
  height: 119px;
  margin-right: 1.8rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px 0 0 8px;
}

.marker-bottom {
  display: flex;
  justify-content: space-between;
}

.rating {
  margin-right: 1rem;
}
