<h1 class="title-review" >My reviews</h1>
<div class="title-line"></div>

<% @reviews.each do |review| %>
  <%= render '/pages/marker-card', marker: review.marker %>
  <%= render '/pages/review-card', review: review %>
<% end %>
